/* Footer.css */

#footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 18px;
}

.footer1 {
  flex: 1;
}

.footer2 {
  flex: 1;
  margin-left: auto; /* Use auto margin to move footer2 to the right */
  text-align: right;
}
